=====================================================================

Welcome at webdev!

All traffic, transmissions and protocols from and to this machien are logged.

This machine can be restarted without any notice when used inappropriately.
Make sure that you always have a backup.
Use github or bitbucket for source control.

=====================================================================
