---

- name: Install fail2ban
  apt: 
    pkg=fail2ban 
    state=present 
    update-cache=yes
  register: 
    fail2ban_install
  tags:
    - apt

- name: Install config
  template: 
    src=jail.local.j2 
    dest=/etc/fail2ban/jail.local
  notify:
    - reload fail2ban

- name: Enable fail2ban as a service
  ansible.builtin.systemd_service:
    name: fail2ban
    state: started
    enabled: true    
