# Run this _as a regular user_  with
#  sudo -H ansible-playbook packages.yml  --connection=local
#
# Run a single role by executing
#  sudo -H ansible-playbook packages.yml  --connection=local --tags "<role>"
#
# Reference
# @see https://github.com/geerlingguy/ansible-role-mysql/issues/212

- hosts: 127.0.0.1
  connection: local
  become: true
  become_user: root
  roles:
    - {role: java, tags: java}
    - {role: mysql, tags: mysql}
    - {role: sonar, tags: sonar}
    - {role: jenkins, tags: jenkins}
    - {role: unattended-upgrades, tags: unattended-upgrades}
   

